.list-item-container-course{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 7px;
    padding: 5px 10px 5px 20px;
    margin: 4px 28px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 3px gray;
    
}
@media (max-width:768px){
    .list-item-container-course{
        margin: 4px 22px 24px 26px;
        min-width: 70%;
        
    }
}
@media (max-width:992px){
    .list-item-container-course{
        width: 40%;
        margin: 4px 6px 20px 4px;
    }
}
@media (min-width:992px){
    .list-item-container-course{
        width: 28%;
        margin-left: -10px;
    }
}
.dark-theme-li-item-course{
    border-color: #e6e1e1;
}
.light-theme-li-item-course{
    border-color: #030438;
}
.link-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.course-video-image{
    height: 30vh;
    width: 95%;
    margin-top: 10px;
}
.course-video-name{
    font-size: 15px;
    font-family: "roboto",sans-serif;
    font-weight: 600;
}
.dark-video-name-course{
    color: #5794b5;
}
.light-video-name-course{
    color: #02344f;
}
.course-video-para{
    font-size: 12px;
    font-family: "roboto",sans-serif;
}
.dark-video-para-course{
    color: #9facb3;
}
.light-video-para-course{
    color: #51626b;
}