.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90%;
  }
  @media (min-width: 768px) {
    .list-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }